In [1]:
import pandas as pd
import scipy.stats as stats
import numpy as np

### 1st QUESTION

In [2]:
cutlet_data=pd.read_csv('Cutlets.csv')
cutlet_data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
from scipy.stats import ttest_ind

In [4]:
statistic,pvalue=ttest_ind(cutlet_data['Unit A'],cutlet_data['Unit B'])
print('statistics is {}\npvalue is {}'.format(statistic,pvalue))
if pvalue<0.05:
    print('There is significant difference in diameter of the cutlet (Ha)')
else:
    print('There is no significant change in diameter of the cutlet (Ho)')

statistics is 0.7228688704678063
pvalue is 0.4722394724599501
There is no significant change in diameter of the cutlet (Ho)

### Inference :
* This is 2 sample t test.
* Thus H0: No difference in the diameter of cutlet between two units
* And  H1: There is difference between them
* As p value(0.47) > alpha(0.05)
* Accept H0, therefore there is no significant difference.

### 2nd QUESTION

In [5]:
lab_data=pd.read_csv('LabTAT.csv')
lab_data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [6]:
statistic,pvalue=stats.f_oneway(lab_data['Laboratory 1'],lab_data['Laboratory 2'],lab_data['Laboratory 3'],lab_data['Laboratory 4'])

print('statistics is {}\npvalue is {}'.format(statistic,pvalue))
if pvalue<0.05:
    print('There is significant difference in average TAT of reports between the laboratories (Ha)')
else:
    print('There is no significant change in verage TAT of reports between the laboratories (Ho)')

statistics is 118.70421654401437
pvalue is 2.1156708949992414e-57
There is significant difference in average TAT of reports between the laboratories (Ha)

### Inference :
* As there are 4 samples we do annova.
* Thus Ho: TAT of the given reports of the labs are same
* And  Ha: TAT of the given reports of the Labs are not same
* As p value is 0 < alpha(0.05)
* Accept H1, therefore TAT of the given reports of the Labs are not same.

### 3rd QUESTION

In [7]:
data=pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [8]:
from scipy.stats import chi2_contingency

In [9]:
data=[[50,435],[142,1523],[131,1356],[70,750]]

In [21]:
stats.chi2_contingency(data)

(1.5959455386610577,
 0.6603094907091882,
 3,
 array([[  42.76531299,  442.23468701],
        [ 146.81287862, 1518.18712138],
        [ 131.11756787, 1355.88243213],
        [  72.30424052,  747.69575948]]))

### Inference:
* This is Chisquare test
* Thus H0: All proportions are equal
* And  Ha: All proportions are not equal
* As p value is 0.66 > alpha(0.05)
* Accept H0, therefore All proportions are equal

### 4th QUESTION

In [11]:
order_data=pd.read_csv('Costomer+OrderForm.csv')
order_data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [12]:
order_data['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [13]:
order_data['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [14]:
order_data['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [15]:
order_data['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [16]:
values=[[271,29],[267,33],[269,31],[280,20]]

In [17]:
stats.chi2_contingency(values)

(3.8589606858203545,
 0.2771020991233144,
 3,
 array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))

### Inference:
* This is chisquare test
* Thus H0: customer order forms defective % does not vary by centre
* And  H1: customer order forms defective % does varies by centre
* As p value is 0.27 > alpha(0.05)
* Accept H0, customer order forms defective % does not vary by centre.