In [1]:
import pandas as pd

In [2]:
car_data=pd.read_csv("Q7.csv")
car_data

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

## Mean

In [3]:
car_data.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

## Mode

In [4]:
car_data[['Points','Score','Weigh']].mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

## Median

In [5]:
car_data.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

## Variance

In [6]:
car_data.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

## Standard Deviation

In [7]:
car_data.std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

## Range

In [8]:
range_of_points=car_data.Points.max() - car_data.Points.min()
range_of_points

2.17

In [9]:
range_of_score=car_data.Score.max() - car_data.Score.min()
range_of_score

3.9110000000000005

In [10]:
range_of_weigh=car_data.Weigh.max() - car_data.Weigh.min()
range_of_weigh

8.399999999999999

In [11]:
index_data=pd.read_csv('Q9_a.csv')
index_data.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [12]:
from scipy.stats import skew,kurtosis

In [13]:
print('The skewness of speed is',skew(index_data.speed))

The skewness of speed is -0.11395477012828319

In [14]:
print('The skewness of distance is',skew(index_data.dist))

The skewness of distance is 0.7824835173114966

In [15]:
print('The kurtosis of speed is ',kurtosis(index_data.speed))

The kurtosis of speed is  -0.5771474239437371

In [16]:
print('The kurtosis of distance is ',kurtosis(index_data.dist))

The kurtosis of distance is  0.24801865717051808

In [17]:
sp_data=pd.read_csv("Q9_b.csv")
sp_data

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [18]:
from scipy.stats import skew,kurtosis

In [19]:
print('The skewnesss of SP is ',skew(sp_data.SP))

The skewnesss of SP is  1.5814536794423764

In [20]:
print('The kurtosis of SP is ',kurtosis(sp_data.SP))

The kurtosis of SP is  2.7235214865269244

In [21]:
print('The skewness of WT is ',skew(sp_data.WT))

The skewness of WT is  -0.6033099322115126

In [22]:
print('The kurtosis of WT is ',kurtosis(sp_data.WT))

The kurtosis of WT is  0.8194658792266849

In [23]:
test_marks=pd.DataFrame([34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56])

In [24]:
test_marks.mean()

0    41.0
dtype: float64

In [25]:
test_marks.median()

0    40.5
dtype: float64

In [26]:
test_marks.var()

0    25.529412
dtype: float64

In [27]:
test_marks.std()

0    5.052664
dtype: float64

In [28]:
from scipy import stats

In [29]:
stats.t.ppf(.97,df=1999)

1.8818614764780113

In [31]:
stats.t.ppf(.99,df=1999)

2.328214776106972

In [32]:
stats.t.ppf(.98,df=1999)

2.055089962825778